@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
    padding-top: 30px;
}

section{
    background: hsl(0, 0%, 100%);
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    margin-top: 40px;
    max-width: 375px;
    min-height: 650px;
}

.bill,.tip-select,.people-number,.all-output{
    min-width: 310px;
    /* border: 1px solid red; */
}

h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: hsl(183, 100%, 15%);
    letter-spacing: 7px;
}

h2{
    color: hsl(186, 14%, 43%);
    font-size: 18px;
}

input{
    position: relative;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    padding-left: 220px;
    font-size: 24px;
    color: hsl(183, 100%, 15%);
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    background: hsl(189, 41%, 97%);
}

input::placeholder{
    position: absolute;
    right: 15px;
    top: 10px;
}

input:focus{
    outline: none;
    border: 2px solid hsl(172, 67%, 45%);
}

button{
    font-size: 24px;
    font-family: 'Space Mono', monospace;
    color: hsl(189, 41%, 97%);
    font-weight: 700;
    border-radius: 5px;
    border: none;
    background: hsl(183, 100%, 15%);
}

.active-btn{
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.percentage-btns{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.percentage-btns>button{
    margin-bottom: 5px;
    height: 40px;
    width: 150px;
}

#custom{
    position: relative;
    padding-left: 100px;
    width: 150px;
}

#custom::placeholder{
    position: absolute;
    left: 30px;
    top: 10px;
}

.output{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px 10px 20px;
    background: hsl(183, 100%, 15%);
    border-radius: 10px;
    min-height: 250px;
}

.tip-output{
    color: hsl(186, 14%, 43%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.output-name>h2{
    color: hsl(189, 41%, 97%);
}

#resetBtn{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background: hsl(172, 67%, 45%);
    color: hsl(183, 100%, 15%);
}

.tip-output>span{
    font-size: 24px;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
}

.input-box{
    position: relative;
}

i{
    position: absolute;
    top: 15px;
    left: 20px;
    color: hsl(186, 14%, 43%);
}

@media (min-width:740px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        max-width: 900px;
        min-height: 400px;
    }

    .all-input{
        width: 40%;
    }

    
    .output{
        min-height: 350px;
        width: 400px;
    }
}